h1 {

	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: $p-color-dark-theme;
    letter-spacing: 2px;
	font-family: 'Nunito Sans', sans-serif;
}

p {

	width: 100%;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

span {
    
	color: #2BD6B4;
}

div {
    
    display: block;
}

.header{

	background-color: $bg-color-nav;
	height: 70px;
}

.banner{

	img{
		
		width: 100%;
		border-bottom-left-radius: 25px;
    	border-bottom-right-radius: 25px;
	}
}

.content{

	width:80%;
	margin: 0 auto;
	background-color: rgba($bg-content-dark-theme,.5);
	border-radius: 25px;
	color: $p-color-dark-theme;
	
	p {
		padding: 30px;
		max-width: 100%;
	}
}

.content-two-col{

	width:80%;
	margin: 0 auto;
	background-color: rgba($bg-content-dark-theme,.5);
	border-radius: 25px;
	color: $p-color-dark-theme;
	padding: 30px;
	display: flex;

	p {
		max-width: 100%;
	}

	.content-col-left{
		max-width: 50%;


		iframe{
			width: 500px;
			margin-right: 30px;
		}

		img{
			max-width: 100%;
			border-bottom-left-radius: 25px;
			border-top-left-radius: 25px;
		}
	}
	
	.content-col-right{
		width: 50%;
		margin-left: 30px;
		margin-top: 30px;

		&.stories{
			min-width: 50%;
		}

		p {
			transform: translateY(50%);
		}

		.user-profile{
    

			.user-info{

				width:80%;
				margin: 0 auto;
				background-color: rgba($bg-content-dark-theme,.7);
				border-radius: 25px;
				color: $p-color-dark-theme;
				margin-bottom: 20px;
				padding: 20px;
	
				&.name {
					padding: 0px;
	
					h1 {
						margin: 0;
					}
				}
				
				&.fav-exercise{

					text-align: center;
				}

				&.total-points{
					h2{

						display: inline-flex;
						margin-right: 20px;
					}
				}

				&.badges{

					.badges-list{

						

						.fas,.fab,.fa{
							
							margin-right: 20px;
	
							&:before{
								font-size: 40px;
							}
	
						}
						
						&.story-1{

							transform: translateX(7%);
						}

						&.story-2{
							
							transform: translateX(27%);
						}

						&.story-3{

							transform: translateX(20%);
						}
					}
				}

			}
		}

		&.about {
			p{
				transform: translateY(calc(50% - 45px));
			}
		}
		
	}

	&.story{

		padding: 0 30px 0 0;
	}
		
}


.section{

	&:after {
		display: block;
		margin: 0 auto;
		height: 3px;
		content: " ";
		text-shadow: none;
		background-color: $text-color-dark-theme;
		width: 250px;
		margin-top: 40px;

	}
}

body {

	font-size: 12px;
	font-family: sans-serif;
    background: $bg-color-dark-theme;
	margin: 0 auto;
	width: 1400px;
}


.fab, .far {
    font-weight: 400;
}
.fas{
	font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.hide{
	display: none;
}
.text-center{
	text-align: center;
}

.text-center{
	span{
		cursor: pointer;
	}
}