$bg-color-nav: #551122;

$nav-bar-selected: #315e52;


$bg-color-dark-theme: #091b2a;
$text-color-dark-theme: #ddc6a7;

$bg-color-light-theme: #ddc6a7;
$text-color-light-theme: #000000;

$bg-content-dark-theme: #34495e;
$bg-content-light-theme: #e0e0e0;

$p-color-dark-theme: #ddc6a7;
$p-color-light-theme: #333333;

$white: #ffffff;

$alert-success: #8fa571;