<!--Table-->
<table id="history">
    <!--Table head-->
      <thead>
        <tr>
          <th>Day</th>
          <th>Points</th>
          <th>Video</th>
          <th>Completed</th>
          <th>Total</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>
          <th>1</th>
          <td>15</td>
          <td> https://www.youtube.com/watch?v=F47hdaNXwT4</td>
          <td>YES</td>
          <td>-</td>
        </tr>
        <tr>
          <th>2</th>
          <td>20</td>
          <td> https://www.youtube.com/watch?v=F47hdaNXwT4</td>
          <td>YES</td>
          <td>-</td>
        </tr>
        <tr>
          <th>3</th>
          <td>50</td>
          <td> https://www.youtube.com/watch?v=F47hdaNXwT4</td>
          <td>YES</td>
          <td>-</td>
        </tr>
        <tr>
          <th>4</th>
          <td>15</td>
          <td> https://www.youtube.com/watch?v=F47hdaNXwT4</td>
          <td>YES</td>
          <td>-</td>
        </tr>
        <tr>
          <th>5</th>
          <td>10</td>
          <td> https://www.youtube.com/watch?v=F47hdaNXwT4</td>
          <td>YES</td>
          <td>-</td>
        </tr>
        <tr>
          <th>6</th>
          <td>15</td>
          <td> https://www.youtube.com/watch?v=F47hdaNXwT4</td>
          <td>YES</td>
          <td>-</td>
        </tr>
        <tr>
          <th>7</th>
          <td>15</td>
          <td> https://www.youtube.com/watch?v=F47hdaNXwT4</td>
          <td>YES</td>
          <td>-</td>
        </tr>
        <tr>
          <th>8</th>
          <td>7</td>
          <td> https://www.youtube.com/watch?v=F47hdaNXwT4</td>
          <td>YES</td>
          <td>-</td>
        </tr><tr>
          <th>9</th>
          <td>15</td>
          <td> https://www.youtube.com/watch?v=F47hdaNXwT4</td>
          <td>YES</td>
          <td>-</td>
        </tr>
        <tr>
          <th>10</th>
          <td>60</td>
          <td> https://www.youtube.com/watch?v=F47hdaNXwT4</td>
          <td>YES</td>
          <td>-</td>
        </tr>
        <tr>
          <th>-</th>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>560</td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->