<div class="user-card">
    <div class="content">
        <div class="img-wrapper">
            <img src="../../public/assets/images/user_profile.png" alt="Username" class="user-avatar">
        </div>
        <div class="user-infos">
            <div class="username">
                <div class="fullname"><%= user.first_name %> <%= user.last_name %></div>
            </div>
            <div class="job">Frontend developer &amp; more...</div>
            <div class="user-stats">
                <div class="stat days">
                    <div class="stat-title">Days in row</div>
                    <div class="stat-val">10</div>
                </div>
                <div class="stat points">
                    <div class="stat-title">Points</div>
                    <div class="stat-val">560</div>
                </div>
                <div class="stat badges">
                    <div class="stat-title">Badges</div>
                    <div class="stat-val">3</div>
                </div>
            </div>
            <div class="text-center">
                <span class="content-trigger" data-target="user">Edit</span> 
            </div>
        </div>
    </div>
</div>