<%- include ('../templates/general/head') -%>
    <body>
        <%- include ('../templates/header', {loggedIn : loggedIn, slectedIndex : 1}) -%>
        
        <div class="section">
            <h1>About the platform</h1>
            <div class="content">
                <p>
                    The platform has the intention to boost the user's mental health with the means of physical exercise. The users will be given the option to show their availability and interest of the types of exercises will be proposed to them.<br><br>
                    The exercises will be worthed points. Three “difficulty types” will be presented to the user depending on their interests. From the user settings users can change their personal info, choose difficulty level, change the exercise duration.<br><br>        
                    In order to make the platform more useful we decided to include a couple of options to track your process, see how you performed during the time you have used the platform using the history tab or simply have an overview of your performance in a single PDF.
                </p>
            </div>
        </div>

        <div class="section">
            <h1>Small reserch</h1>
            <div class="content-two-col">
                <div class="content-col-left">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/GssC6Dbr9fw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="content-col-right about">
                    <p>
                        After watching this video we learned a lot about why exercises are important for us and why we need to be more active in general. The video shows the effect on the brain if we exercise.<br><br>
                        The next step was to read a couple of articles and determine what kind of physical activities will be suitable for the purposes selected by the user. We splitted the exercise by type and length. After watching the exercises we determined the base of our pointing system. To be fair we decided to give the point per difficulty level.
                    </p>
               </div>
            </div>
        </div>

    </body>
</html>